.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.3rem;
    background-color: $color-primary;
    border-radius: 5rem;
    // width: 15rem;
    cursor: pointer;

    border: none;
    color: $color-white;
    font-family: $font-primary;
    letter-spacing: $letter-spacing-default;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .2s;
    backface-visibility: hidden;
    
    padding: 2rem;

    &__sign-in {
        color: $color-white;
    }

    &__watchlist {
        
    }

    &__imdb {
        width: 16rem;
    }

    &__trailer {
        width: 16rem;
    }

    &__login {
        width: 16rem;
    }

    &:hover {
        transform: scale(1.05);
    }
}