.category {
    grid-column: center-start / center-end;
    margin-top: 7rem;

    &__heading {
        display: grid;
        grid-template-rows: repeat(2, min-content);
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1.5rem;        

        color: $color-black;
        text-transform: uppercase;

        &--main {
            justify-self: start;
            font-size: 4.4rem;
            font-weight: 300;
            letter-spacing: $letter-spacing-medium;
        }

        &--sub {
            font-size: 2.4rem;
            font-weight: 400;
            letter-spacing: $letter-spacing-default;
            grid-column: 1 / 1;            
        }
    }

    &__checkbox {
        display: none;
    }

    &__checkbox:checked ~ &__dropdown > &__dropdown-list {
        visibility: visible;
        opacity: 1;
    }

    &__dropdown {
        display: flex;
        align-items: center;
        width: 16rem;
        height: 3.3rem;
        padding: 1rem;
        border: solid black 1px;
        border-radius: 5px;
        align-self: center;
        justify-self: end;
        justify-content: space-around;

        font-size: 1.2rem;
        letter-spacing: $letter-spacing-default;
        font-weight: normal;       

        grid-column: 2 / 3;
        grid-row: 1 / 2;
        position: relative;

        &-list {
            // doesnt work
            // display: none;

            visibility: hidden;
            opacity: 0;
            position: absolute;
            list-style: none;
    
            // Maybe no padding
            // padding: 1rem;
    
            top: 4rem;
            left: 0;
    
            display: flex;
            flex-direction: column;
            height: 10rem;
            
    
            &--item {
                display: inline-block;
                padding: 1rem;
                transition: all .4s;
                color: #000;
            }
    
            &--item:hover {
                background-color: #333333;
                color: #fff;
            }

            transition: all .2s;
        }

        &-current {

        }        

        &-arrow {
            display: block;
            fill: rgba($color: $color-primary, $alpha: .9);
            height: 1.3rem;
            width: 1.3rem;
            cursor: pointer;          
        }     
    }  

    
}

.selected {
    transform: scale(1.1);
    font-weight: bold;
    // color: rgba($color: $color-primary, $alpha: .8)
}