// Force grid-col on items or use different method
// Move into button later?
.footer {
    grid-column: center-start / center-end;
    margin-bottom: 3.5rem;   

    &__nav {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        list-style: none;
        align-items: center;
        justify-items: center;

        &-item {
            font-size: 1.6rem;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: $letter-spacing-small;
            color: $color-black;

            &--back {
                justify-self: start;
                width: 16rem;
                grid-column: 1 / 2;
            }

            &--copy {
                grid-column: 2 / 3;
            }

            &--next {
                justify-self: end;
                width: 16rem;
            }

            &--movie {
                grid-row: 2;
                grid-column: 2 / 3;
            }
        }
    }
}