// Animate navigation items border or background? 

.navigation {

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 11rem;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 500;

    // No longer in grid
    // grid-column: full-start / full-end;

    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: $box-shadow;    

    &__search {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 30%;
    }

    &__search--bar {
        font-family: $font-primary;
        font-weight: bold;
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: $letter-spacing-default;
        background-color: $color-grey-white;
        border-radius: 1.2rem;
        
        width: 90%;
        padding: 1rem 2rem;
        border: none;
        transition: all .2s;

        &:focus, &:active {
            outline: none;
            width: 100%;
        }
    }

    &__items {
        display: flex;
        color: $color-grey-white;
        font-weight: 300;
        font-size: 1.6rem;
        align-items: center;

        // Width has to be 14 rem otherwise text will break onto new line
        // A set margin instead of using flex-basis and justify-content, it didnt resize properly when going into smaller viewports        
        &-box {
            display: flex;
            justify-content: center;
            cursor: pointer;
            border-top: solid 1px $color-primary;
            border-bottom: solid 1px $color-primary;
            width: 14rem;
            margin: 0 2rem;            
            text-decoration: none;
            transition: all .2s;
            backface-visibility: hidden;

            &:hover {
                background-color: $color-primary;
                // transform: scale(1.1);
            }
        }

        &--item {
            color: #f7f7f7;
            letter-spacing: $letter-spacing-default;
            text-transform: uppercase;
            padding: 1.7rem 0.8rem;
        }
    }
}