// FONT VARIABLES

$font-primary: 'Quicksand', 'sans-serif';
$font-text: 'Montserrat';

// COLOR VARIABLES

$color-primary: #D72525;

$color-white: #fff;
$color-grey-white: #f7f7f7;
$color-black: #000;
$color-grey-black: #444;


// BOX SHADOW

$box-shadow: 8px 6px 6px rgba(0, 0, 0, 0.4);

// LETTER SPACING
$letter-spacing-default: 0.32em;
$letter-spacing-medium: 0.2em;
$letter-spacing-small: 0.125em;
